
input,
select {
  border: solid 1px black;
  border-radius: 5px;
}

input[type=submit] {
  border: solid 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 3rem 1.5rem 3rem;
  color: white;
  background-color: #404040;
}
nav .logo {
	text-align: center;
  font-size: 1.8rem;
}
nav div .logo:hover {
  color: blueviolet;
}
nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav div a {
  font-size: 1.2rem;
  margin: 0 0.5rem;
  padding: 0.2rem;
}
nav div a:hover {
  color: cadetblue;
}

