<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ENI_Enchere</display-name>
  <servlet>
    <description>Liste des enchère disponible</description>
    <display-name>accueil</display-name>
    <servlet-name>accueil</servlet-name>
    <servlet-class>fr.eni.enchere.servlets.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accueil</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>fr.eni.enchere.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>fr.eni.enchere.servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ajoutArticle</display-name>
    <servlet-name>ajoutArticle</servlet-name>
    <servlet-class>fr.eni.enchere.servlets.AjoutArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajoutArticle</servlet-name>
    <url-pattern>/AjoutArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>fr.eni.enchere.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>fr.eni.enchere.servlets.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfile</display-name>
    <servlet-name>EditProfile</servlet-name>
    <servlet-class>fr.eni.enchere.servlets.EditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfile</servlet-name>
    <url-pattern>/EditProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccount</display-name>
    <servlet-name>DeleteAccount</servlet-name>
    <servlet-class>fr.eni.enchere.servlets.DeleteAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccount</servlet-name>
    <url-pattern>/DeleteAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Enchere</display-name>
    <servlet-name>Enchere</servlet-name>
    <servlet-class>fr.eni.enchere.servlets.AjoutEnchere</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Enchere</servlet-name>
    <url-pattern>/Enchere</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MesEncheres</display-name>
    <servlet-name>MesEncheres</servlet-name>
    <servlet-class>fr.eni.enchere.servlets.MesEncheres</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MesEncheres</servlet-name>
    <url-pattern>/MesEncheres</url-pattern>
  </servlet-mapping>
</web-app>